<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>API Products</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="header__logo"> API products</div>
        <%- include('./partials/search.ejs') %>
    </header>

    <div class="wrapper">
<div class="produc">
        <div class="produc-single">
                <a href="/">&larr;- Back</a>
                
                <% if(products != null) { %>
                    <h2><%- products.title.rendered %></h2>
                    <h2><%- products.category.rendered %></h2>
                    <h3><%- products.price.rendered %></h3>
                    <p><%- products.description.rendered %></p>
                <% } else { %>
                    No products found. Single Product page
                <% } %>
        </div>
    </div>  
</body>
</html> 